* {
  font-family: "Lora", serif;
  color: white;
}
body {
  margin: 0;
}
h1 {
  color: white;
}

.container {
  background-image: url("/static/dark_comp_copy2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: bottom;
}

.main-photo {
  width: 100%;
}
.menu-top-left {
  position: absolute;
  top: 2%;
  left: 2%;
}
.menu-top-right {
  position: absolute;
  top: 2%;
  right: 2%;
}
.menu-bottom-left {
  position: absolute;
  bottom: 2%;
  left: 2%;
}
.menu-bottom-right {
  position: absolute;
  bottom: 2%;
  right: 2%;
}

.text-frontpage {
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
